.todoList__add {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.todoList__content {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.todoList__items {
    min-width: 300px;
}

.todoList__statusBar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background: rgba(0, 0, 0, 0.85);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}